[submodule "bundle/node"]
	path = bundle/node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/javascript-syntax"]
	path = bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/javascript-libraries-syntax"]
	path = bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
